* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
$primaryColor: #252525;
$bgColor: #1a1a1a;


body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 70px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    .header-container {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-left {
        display: flex;
        align-items: center;

        p {
            margin: 0 15px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .2em;
            color: rgba(0, 0, 0, 0.8);
            
            &:hover {
                cursor: pointer;
                color: #008248;
            }
        }

        .logo {
            margin-right: 15px;
            img {
                width: 51px;
                width: 51px;
            }
        }
        }


        .header-right {
            display: flex;
            align-items: center;

          .find-store {
              margin-right: 25px;
              display: flex;
              align-items: center;
              font-weight: bold;

              i {
                  font-size: 24px;
                  padding: 0 6px;
              }

              &:hover {
                  color: #008248;
                  cursor: pointer;
              }
          }

            .sign-in {
                margin: 0 15px;

                a {
                text-decoration: none;
                    color: #008248;
                    border: 1px solid #008248;
                    border-radius: 30px;
                    padding: 7px 17px;
                    font-weight: bold;
                    transition: all 0.2s ease-in;

                    &:hover {
                        background-color: rgba(0, 0, 0, .06);
                    }
                }
            }

            .join-now {
                a {
                text-decoration: none;

                    color: white;
                    background-color: black;
                    border-radius: 30px;
                    padding: 7px 17px;
                    font-weight: bold;
                    transition: all 0.2s ease-in;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.7);
                        border-color: rgba(0, 0, 0, .7);
                    }
                }
            }
        }
    }
 
   
}