* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primaryColor: #f0f0f0;

body {
  font-family: "Poppins", sans-serif;
}

// header

header {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  z-index: 10;
  height: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  .header-container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
      display: flex;
      align-items: center;

      .left-nav {
        display: flex;
        align-items: center;

        p {
          margin: 0 15px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          color: rgba(0, 0, 0, 0.8);

          &:hover {
            cursor: pointer;
            color: #008248;
          }
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .logo {
        margin-right: 15px;
        img {
          width: 51px;
          width: 51px;
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;

      .find-store {
        margin-right: 25px;
        display: flex;
        align-items: center;
        font-weight: bold;

        i {
          font-size: 24px;
          padding: 0 6px;
        }

        &:hover {
          color: #008248;
          cursor: pointer;
        }
      }

      .sign-in {
        margin: 0 15px;

        a {
          text-decoration: none;
          color: #008248;
          border: 1px solid #008248;
          border-radius: 30px;
          padding: 7px 17px;
          font-weight: bold;
          transition: all 0.2s ease-in;

          &:hover {
            background-color: rgba(0, 0, 0, 0.06);
          }
        }
      }

      .join-now {
        a {
          text-decoration: none;

          color: white;
          background-color: black;
          border-radius: 30px;
          padding: 7px 17px;
          font-weight: bold;
          transition: all 0.2s ease-in;

          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            border-color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

main {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;

    .announcement {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primaryColor;
      margin-bottom: 32px;

      span {
        padding: 3.2rem 0;
        max-width: 60%;
        font-size: 19px;
        text-align: center;
        line-height: 1.75;
        font-weight: 500;
      }
    }

    .left-right-section {
      display: flex;
      margin-bottom: 20px;

      .text {
        background-color: #f7f7f7;
        color: #008248;
        padding: 32px 48px;
        text-align: center;
        //   flex: 0.5;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          margin-bottom: 15px;
          font-weight: 400;
          text-align: center;
        }

        h3 {
          text-align: center;
          margin-bottom: 15px;
          font-weight: 400;
        }

        .cta {
          margin-top: 25px;
          border: 1px solid #008248;
          border-radius: 30px;
          padding: 6px 15px;
          cursor: pointer;
          transition: all 0.2s ease-in;

          &:hover {
            background-color: rgba(0, 0, 0, 0.06);
          }
        }
      }

      .image {
        width: 50%;
        display: flex;

        img {
          width: 100%;
        }
      }
    }

    .chill {
      background-color: #f2f0cb;
      .text {
        h1 {
          font-weight: 600;
          font-size: 2.3rem;
          text-align: center;
        }
        h3 {
          line-height: 1.5;
        }
      }
    }

    .top-bottom-section {
      width: 50%;
      .section-container {
        display: flex;
        flex-direction: column;

        .image {
          width: 50%;
        }
      }
    }
  }
}
